	[Desktop Entry]
	Name=Diablo
	Exec=/home/kalenpw/Games/Diablo/devilutionx
    Icon=/home/kalenpw/Documents/DotFiles/CustomIcons/diablo_1.png
	Type=Application
	Categories=Game;
