	[Desktop Entry]
	Name=Heavy Bullets
	Exec=/home/kalenpw/Games/HeavyBullets/HEAVY_BULLETS.x86_64
    Icon=/home/kalenpw/Documents/DotFiles/CustomIcons/heavy_bullets.png
	Type=Application
	Categories=Game;
