	[Desktop Entry]
	Name=Ziggurat
	Exec=/home/kalenpw/Games/Ziggurat/Ziggurat.x86_64
    Icon=/home/kalenpw/Documents/DotFiles/CustomIcons/ziggurat.png
	Type=Application
	Categories=Game;
